### Preseed for Ubuntu 18.04
# Derived from: https://help.ubuntu.com/lts/installation-guide/example-preseed.txt

### Compatibility
# Tested with the netboot image:
# http://archive.ubuntu.com/ubuntu/dists/bionic/main/installer-amd64/current/images/netboot/mini.iso

### Authentication
# We recommend to use public key authentication and therefore disabled the root
# password. The build-iso.sh script will do all the hard work for you.
#
# In case you still want to use password authentication, you need to set the
# passwd/root-password-crypted variable. See below for further instructions.

### Unattended Installation
d-i auto-install/enable boolean true
d-i debconf/priority select critical

### Localization
d-i debian-installer/locale string en_US.UTF-8
#d-i localechooser/supported-locales multiselect en_US.UTF-8, de_DE.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/choose_interface select ens33
d-i netcfg/get_ipaddress string 10.0.1.1
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/link_wait_timeout string 3
d-i netcfg/hostname string tai-ubuntu-lts
d-i netcfg/get_hostname string tai-ubuntu-lts
d-i netcfg/get_domain string troxelresearchlabs.com
d-i netcfg/hostname tai-ubuntu-lts.troxelresearchlabs.com
d-i hw-detect/load_firmware boolean true

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string 10.0.1.2
d-i mirror/http/directory string /ubuntu

### Account setup
d-i passwd/root-login boolean true
d-i passwd/root-password-crypted password !!
d-i passwd/make-user boolean true
d-i passwd/user-fullname string TAI Lab
d-i passwd/username string tailab
d-i passwd/user-password-crypted password $6$FjypvIgk$6ms6J17bJGeW1VG5hDjYCLeeqSNqGLkLQ/WQGZYhOTnAxUlSrfta04kxMLblNkFKS8uZqLNXo3PLKAlG2e53v.
d-i passwd/user-default-groups string adm audio cdrom dialout dip floppy lxd netdev plugdev sudo video
d-i user-setup/allow-password-weak boolean true

### Clock and time zone setup
d-i clock-setup/utc boolean false
d-i time/zone string US/Eastern
d-i clock-setup/ntp boolean false

### Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-md/confirm boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman-auto-lvm/new_vg_name string tai_vg
d-i partman-auto/choose_recipe select atomic
d-i partman/default_filesystem string ext4
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-basicmethods/method_only boolean false
d-i partman/mount_style select uuid

### GPT
d-i partman-basicfilesystems/choose_label string gpt
d-i partman-basicfilesystems/default_label string gpt
d-i partman-partitioning/choose_label string gpt
d-i partman-partitioning/default_label string gpt
d-i partman/choose_label string gpt
d-i partman/default_label string gpt

### EFI
d-i partman-efi/non_efi_system boolean true

### Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

### Apt setup
d-i apt-setup/restricted boolean false
d-i apt-setup/universe boolean false
d-i apt-setup/backports boolean false
d-i apt-setup/use_mirror boolean false
#d-i apt-setup/services-select multiselect security, updates
#d-i apt-setup/security_host string security.ubuntu.com
#d-i apt-setup/security_path string /ubuntu

### Base system installation
d-i base-installer/kernel/image string linux-generic

### Package selection
tasksel tasksel/first multiselect ubuntu-desktop
d-i pkgsel/include string git isc-dhcp-server libnss-winbind openssh-server pxelinux python3-tk screen syslinux-common tftpd-hpa vim vsftpd winbind
d-i base-installer/install-recommends boolean false
d-i pkgsel/upgrade select none
d-i pkgsel/update-policy select none

### Post-Installation Script
d-i preseed/late_command string in-target wget http://10.0.1.2/ubuntu-preseed/current/postinst-stage1.sh -O /root/postinst-stage1.sh ; in-target /bin/bash /root/postinst-stage1.sh ; in-target rm -f /root/postinst-stage1.sh

### Finishing up the installation
d-i finish-install/keep-consoles boolean true
d-i debian-installer/splash boolean false
d-i cdrom-detect/eject boolean true

### Shutdown machine
d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean true
