set default="0"
set timeout=600

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'OZO-AD-Lab-Router'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Install OZO AD Lab Router' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=OZO-AD-Lab-Router ip=eth0:dhcp inst.text inst.ks=cdrom:/ks.cfg
	initrdefi /images/pxeboot/initrd.img
}
